.glossary {
  font-family: sans-serif;
  border-top: 1px solid black;

  h2 {
  	font-size: 1.25em;
  }

  dl {
  	font-size: 0.9em;
    dt {
        font-family: 'Oswald', sans-serif;
        margin: 0;
    }

    dd {
    	margin: 0;

    	p {
    		margin-top: 0.25em;
    	}
    }
  }
}