body {
	font-family: Courier, serif;
	width: 45em;
	margin: 2em auto;
}

header div {
	margin-bottom: 1em;
}

.ul {
	text-decoration: underline;
}

.addressees ul {
	list-style: none;
	margin: 0;
	padding: 0;
}