<footer>
<p>Find a typo? Interested in a Tindallgram not yet edited? <a href="/contribute">You can help this project!</a></p>

<p>
<a href="https://twitter.com/rdmond" class="twitter-follow-button" data-show-count="false">Follow @rdmond</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<iframe src="http://ghbtns.com/github-btn.html?user=seanredmond&amp;repo=Tindallgrams&amp;type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="152" height="20"></iframe>

<div class="cc-license">
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
</div>

</footer>