<div class="inner header">
  <h1><a href="/">Tindallgrams</a></h1>
  <ul role=main-navigation>
    <li><a href="/">Home</a></li>
    <li><a href="/year">By Year</a></li>
    <li><a href="/source">By Source</a></li>
    <li><a href="/topics">By Topic</a></li>
    <li><a href="/terms/a">Terms &amp; Abbreviations</a></li>
    <li><a href="/contribute">How to Contribute</a></li>
  </ul>

  <!-- { include ddg.html } -->
  <div class="google-cse ddg-search">
    <script>
  (function() {
    var cx = '004249481137223778463:hqxmzlhc05k';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
    <gcse:search></gcse:search>
  </div>

</div>
