<tr>
    <td>67-FM1-1</td>
    <td>Jan 9 1967</td>
    <td>Uplink will be on LM-4</td>
    <td>2</td>
</tr>
<tr>
    <td>67-FM1-2</td>
    <td>Jan 9 1967</td>
    <td>Proceedures needed for the AS-503 TLI maneuver</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-3</td>
    <td>Jan 9 1967</td>
    <td>Rope manufacture for AS-502</td>
    <td>2, 3</td>
</tr>
<tr>
    <td>67-FM1-4</td>
    <td>Jan 10 1967</td>
    <td>No special spacecraft computer programs are to be developed for AS-208B and AS-503</td>
    <td>2, 3</td>
</tr>
<tr>
    <td>67-FM1-5</td>
    <td>Jan 10 1967</td>
    <td>Significant modifications currently planned in the Apollo Spacecraft Computer Programs</td>
    <td>2, 3</td>
</tr>
<tr>
    <td>67-FM1-6</td>
    <td>Jan 13 1967</td>
    <td>AS-504 Spacecraft Computer Programs will be able to support earth orbital and lunar missions</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-7</td>
    <td>Jan ?? 1967</td>
    <td>Why is it everyone who likes radar wears a white hat?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-8</td>
    <td>Jan 23 1967</td>
    <td>Justification for SCAMA circuit to MIT/Boston</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-9</td>
    <td>Jan 23 1967</td>
    <td>Latest on the AS-206 spacecraft computer program</td>
    <td>2, 3</td>
</tr>
<tr>
    <td>67-FM1-10</td>
    <td>Jan 23 1967</td>
    <td>AS-504 spacecraft computer program and storage status. Also a dash of AS-258</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-11</td>
    <td>Jan 25 1967</td>
    <td>More about computer self-check</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-12</td>
    <td>Jan 25 1967</td>
    <td>Why does the AAP command module need a sextant?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-13</td>
    <td>Jan 25 1967</td>
    <td>AGS Software Documentation</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-14</td>
    <td>Jan 30 1967</td>
    <td>Data for postflight analysis of the DAP</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-15</td>
    <td>Jan 30 1967</td>
    <td>Program interlocks - farewell</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-16</td>
    <td>Jan 30 1967</td>
    <td>AAP platform should be torqued to local horizontal</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-17</td>
    <td>Jan 31 1967</td>
    <td>AS-206 Spacecraft Computer Program Newsletter</td>
    <td>2, 3</td>
</tr>
<tr>
    <td>67-FM1-18</td>
    <td>Feb 3 1967</td>
    <td>Spacecraft Computer Program Development Newsletter</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-19</td>
    <td>Mar 2 1967</td>
    <td>Progress Report - RTCC program development reduction - Review of requirements for AS-502 mission</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-20</td>
    <td>Feb 23 1967</td>
    <td>Star/landmark navigation exercise preflight planning</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-21</td>
    <td>? ?? 1967</td>
    <td>Service Module RCS propellant remaining calculations in the CMC</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-22</td>
    <td>Mar 20 1967</td>
    <td>AS-258 RTCC Retrofire Time Computation</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-23</td>
    <td>Mar 23 1967</td>
    <td>Summary of what needs to be done to develop flight confidence in the spacecraft computer programs</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-24</td>
    <td>Mar 24 1967</td>
    <td>In which is described the Apollo spacecraft computer programs currently being developed</td>
    <td>3, 7</td>
</tr>
<tr>
    <td>67-FM1-25</td>
    <td>Mar 27 1967</td>
    <td>None</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-26</td>
    <td>Mar 28 1967</td>
    <td>Progress Report - RTCC program development - Review of AS-258(!) requirements</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-27</td>
    <td>Mar 30 1967</td>
    <td>Current plans for downlink of LM radar data</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-28</td>
    <td>Apr 3 1967</td>
    <td>LM S-band antenna boresight change presents no LGC problem</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-29</td>
    <td>Apr 3 1967</td>
    <td>Interim progress report - RTCC program development - AS-258(!) Ground Support Simulations Computer [GSSC] programs</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-30</td>
    <td>Apr 18 1967</td>
    <td>Proceed button</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-32</td>
    <td>Apr 21 1967</td>
    <td>Descent engine gimbal polarity error</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-33</td>
    <td>Apr 2? 1967</td>
    <td>MIT's digital computer facilities are still a problem</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-34</td>
    <td>Apr 23 1967</td>
    <td>Computer program requirements for AAP</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-35</td>
    <td>Apr 23 1967</td>
    <td>Notes from the MIT program development plan meeting of April 20</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-36</td>
    <td>May 4 1967</td>
    <td>Some things Mr. Copps is worried about</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-37</td>
    <td>May 4 1967</td>
    <td>Invitation to an AAP spacecraft computer program requirements shindig</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM1-38</td>
    <td>May 17 1967</td>
    <td>Reduced  L/D  presents  a  spacecraft  computer  program  problem </td>
    <td>3, 7</td>
</tr>
<tr>
    <td>67-FM1-39</td>
    <td>May 17 1967</td>
    <td>A  new  spacecraft  computer  program  development  working  philosophy is taking shape</td>
    <td>1, 3, 7</td>
</tr>
<tr>
    <td>67-FM-T-40</td>
    <td>May 12 1967</td>
    <td>MIT can handle spacecraft computer program development for both Apollo and AAP to their mutual advantage</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-41</td>
    <td>May 23 1967</td>
    <td>Spacecraft computer program names</td>
    <td>2, 3, 7</td>
</tr>
<tr>
    <td>67-FM-T-43</td>
    <td>Jul 26 1967</td>
    <td>LM is launched with air</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-44</td>
    <td>Jul 26 1967</td>
    <td>Notes from ASPO Manager's staff meeting - July 24</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-45</td>
    <td>Jul 27 1967</td>
    <td>Spacecraft computer program flow chart status</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-46</td>
    <td>Jul 27 1967</td>
    <td>Landing point dispersion given communication loss in lunar orbit</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-47</td>
    <td>Jul 27 1967</td>
    <td>LMSS RTCC program test documentation needed</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-48</td>
    <td>Jul 27 1967</td>
    <td>Configuration control of the spacecraft computer programs for 504 is imminent</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-49</td>
    <td>Jul 27 1967</td>
    <td>There will be no S-IVB ephemeris in teh RTCC after separation</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-50</td>
    <td>Jul 27 1967</td>
    <td>Greater dispersion at entry on AS-501 with the new IMI</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-51</td>
    <td>Jul 31 1967</td>
    <td>We're gonna' find out if the PAC is a good substitute for the flight ropes</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-52</td>
    <td>Aug 1 1967</td>
    <td>Spacecraft computer program status - particularly Sundisk</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-53</td>
    <td>Jul 31 1967</td>
    <td>Spacecraft computer storage requirement for restart protection</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-54</td>
    <td>Aug 3 1967</td>
    <td>Verify Sundisk for CSM/LM missions</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-55</td>
    <td>Aug 8 1967</td>
    <td>Deep serious trouble</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-56</td>
    <td>Aug 3 1967</td>
    <td>Inflight loading of the spacecraft computer erasable memory</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-57</td>
    <td>Aug 8 1967</td>
    <td>Do y'all need the MIT hybrid facilities for crew training?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-58</td>
    <td>Aug 8 1967</td>
    <td>VHF ranging by CSM for ascent monitoring</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-59</td>
    <td>Aug 8 1967</td>
    <td>MPAD contractual effort provided FSD for software verification</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-60</td>
    <td>Aug 14 1967</td>
    <td>Crew monitoring of the LOI maneuver</td>
    <td>2, 3</td>
</tr>
<tr>
    <td>67-FM-T-61</td>
    <td>Aug 14 1967</td>
    <td>New/old platform for AS-501</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-62</td>
    <td>Aug 18 1967</td>
    <td>A new rope module for LM-1 computer</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-63</td>
    <td>Aug 24 1967</td>
    <td>Use of DPS for lunar mission aborts</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-64</td>
    <td>Aug 25 1967</td>
    <td>Reentry guidance is perfect for S/C 101 regardless of L/D</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-65</td>
    <td>Aug 28 1967</td>
    <td>Delete DOI thrust program, P-61</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-66</td>
    <td>Aug 28 1967</td>
    <td>Prelaunch DAP initialization</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-67</td>
    <td>Aug 28 1967</td>
    <td>Is display of max g in P-61 any good?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-68</td>
    <td>Aug 28 1967</td>
    <td>Goodies affecting the RTCC gleaned from the 504 GSOP meeting</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-69</td>
    <td>Aug 23 1967</td>
    <td>Head up and locked DAP-wise</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-70</td>
    <td>Aug 28 1967</td>
    <td>Does the landing radar mess us up?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-71</td>
    <td>Aug 28 1967</td>
    <td>Analysis of LM rendezvous navigation is needed</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-72</td>
    <td>Aug 29 1967</td>
    <td>Inflight loading of the spacecraft computer erasable memory</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-73</td>
    <td>Aug 29 1967</td>
    <td>Apparently S/C 103 may fly one month after S/C 101</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-74</td>
    <td>Aug 29 1967</td>
    <td>Maneuver sensitivity coefficients</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-75</td>
    <td>Sep 6 1967</td>
    <td>LM spacecraft assignments</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-76A</td>
    <td>Sep 7 1967</td>
    <td>Another meeting about trajectory control on the first manned Apollo mission (S/C 101)</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-77</td>
    <td>Sep 7 1967</td>
    <td>How do we get and use LM rendezvous radar observations?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-78</td>
    <td>Sep 11 1967</td>
    <td>Mission Rule for TPI - ground or onboard</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-79A</td>
    <td>Sep 11 1967</td>
    <td>Data Priority Coordination - a plea for help</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-80</td>
    <td>Oct 11 1967</td>
    <td>It's SUNDISK for Spacecraft 103</td>
    <td>3, 7</td>
</tr>
<tr>
    <td>67-FM1-81</td>
    <td>Oct ?? 1967</td>
    <td>About frequency of LM radar observations</td>
    <td>7</td>
</tr>
<tr>
    <td>67-FM1-82</td>
    <td>??</td>
    <td>(unreadable)</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-83</td>
    <td>Oct 17 1967</td>
    <td>Spacecraft  computer  program  status</td>
    <td>3, 7</td>
</tr>
<tr>
    <td>67-FM-T-84</td>
    <td>Oct 18 1967</td>
    <td>There will be no manual input of range ?? capability in spacecraft rendezvous ??</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-85</td>
    <td>Oct 18 1967</td>
    <td>Spacecraft computer program development improvements to be utilized by MIT</td>
    <td>1, 3, 7</td>
</tr>
<tr>
    <td>67-FM-T-86</td>
    <td>Oct 18 1967</td>
    <td>Some things about the Descent Propulsion System as controlled by the LOC</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-87A</td>
    <td>Oct 19 1967</td>
    <td>First meeting of the Descent Phase Mission Techniques Working Group</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-88A</td>
    <td>Oct 19 1967</td>
    <td>First meeting of the Descent Phase Mission Techniques Working Group</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-89</td>
    <td>Oct 19 1967</td>
    <td>K-chart tape briefing</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-90A</td>
    <td>Oct 19 1967</td>
    <td>Descent phase to be added to your Apollo Mission Techniques Document</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-92A</td>
    <td>Oct 19 1967</td>
    <td>Descent phase to be added to your Apollo Mission Techniques Document</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-93A</td>
    <td>Oct 19 1967</td>
    <td>Descent phase to be added to your Apollo Mission Techniques Document</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-94A</td>
    <td>Oct 19 1967</td>
    <td>Descent phase to be added to your Apollo Mission Techniques Document</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-95</td>
    <td>Oct 20 1967</td>
    <td>More about LM radar rendezvous data processing</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-96</td>
    <td>Oct 24 1967</td>
    <td>Immediate rstart of the SPS engine under PGNCS control</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-97</td>
    <td>Oct 26 1967</td>
    <td>Core rope simulator certification</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-98</td>
    <td>Oct 27 1967</td>
    <td>Let's find out if current MCFM performance is really not good enough for lunar operations</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-99A</td>
    <td>Oct 30 1967</td>
    <td>Current status on the LM DPS engine gimbal caution light problem</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-100</td>
    <td>Oct 30 1967</td>
    <td>Final word on the targeting of the externally targeted prethrust spacecraft computer programs</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-101</td>
    <td>Nov 8 1967</td>
    <td>What is the effect of uncertainty in the lunar potential on spacecraft computer program performance?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-102</td>
    <td>Nov 8 1967</td>
    <td>Spacecraft computer program F05---on the way out</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-103</td>
    <td>Nov 9 1967</td>
    <td>MIT/MSC review of LUMINARY Descent Programs</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-104</td>
    <td>Nov 14 1967</td>
    <td>Spacecraft computer program design to process VMP ranging for rendezvous navigation</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-105</td>
    <td>Nov 14 1967</td>
    <td>Inflight alignment of the COAS</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-106</td>
    <td>Nov 14 1967</td>
    <td>EMS software verification doesn't exist</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-107A</td>
    <td>Nov 27 1967</td>
    <td>Some Assumptions about Spacecraft 101 retrofire and reentry procedures</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-108</td>
    <td>Nov 16 1967</td>
    <td>501/502 state vector update requirement</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-109</td>
    <td>Nov 17 1967</td>
    <td>Spacecraft computer program orbital integration</td>
    <td>2, 3</td>
</tr>
<tr>
    <td>67-PA-T-110A</td>
    <td>Dec 4 1967</td>
    <td>Third Trajectory Control Data Priority Meeting for Spacecraft 101</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-111</td>
    <td>Dec 7 1967</td>
    <td>Light weight attitude control is too sporty</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-115A</td>
    <td>Dec 15 1967</td>
    <td>Urgent recommendation that CMC steering of the S-IVB be deleted</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-116A</td>
    <td>Dec 11 1967</td>
    <td>Establishment of the Midcourse Phase Mission Techniques Working GRoup</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-117A</td>
    <td>Dec 11 1967</td>
    <td>Apollo 205/101 reentry procedures</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PM-T-118A</td>
    <td>Dec 18 1967</td>
    <td>No need to perform lunar landmark orbit determination</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-119</td>
    <td>Dec 14 1967</td>
    <td>Extra cost of boresight TFI</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PM-T-120A</td>
    <td>Dec 14 1967</td>
    <td>Mission C DAP initialization procedures</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PM-T-121A</td>
    <td>Dec 15 1967</td>
    <td>It is proposed that we plan a two step LOI maneuver</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-122</td>
    <td>Dec 15 1967</td>
    <td>Some lunar landmark tracking questions</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-123</td>
    <td>Dec 15 1967</td>
    <td>Can MSFN figure out where the LM is on the moon's surface?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-124</td>
    <td>Dec 18 1967</td>
    <td>Spacecraft computer program newsletter</td>
    <td>3</td>
</tr>
<tr>
    <td>67-FM-T-125</td>
    <td>Dec 18 1967</td>
    <td>Do you want a program to calibrate the COAS?</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-126A</td>
    <td>Dec 18 1967</td>
    <td>Third Trajectory Control Data Priority Meeting for Spacecraft 101</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-128A</td>
    <td>Dec 26 1967</td>
    <td>Lunar lift off shall be planned at discrete times only</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-129A</td>
    <td>Dec 26 1967</td>
    <td>Rendezvous meeting reminder</td>
    <td>3</td>
</tr>
<tr>
    <td>67-PA-T-127A</td>
    <td>Dec 27 1967</td>
    <td>LM rendezvous radar during Ascent is about to go over the brink</td>
    <td>3</td>
</tr>
