    <tr>
        <td>66-FM1-59</td>
        <td>May 12 1966</td>
        <td><a href="66-FM1-59.html">Spacecraft computer program requirements for AS-207/208, AS-503, and
AS-504</a></td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-60</td>
        <td>May 16 1966</td>
        <td><a href="66-FM1-60.html">Comments on the AS-207/208 Preliminary Spacecraft Reference Trajectory</a></td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-64</td>
        <td>May 27 1966</td>
        <td><a href="66-FM1-64.html">CSM orbit determination using the LEM radar</a></td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-68</td>
        <td>May 31 1966</td>
        <td><a href="66-FM1-68.html">Apollo  spacecraft  computer  program development  newsletter</a></td>
        <td>7</td>
    </tr>
    <tr>
        <td>66-FM1-70</td>
        <td>Jun 2 1966</td>
        <td><a href="66-FM1-70.html">Spacecraft computer program status report</a></td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-75</td>
        <td>Jun 13 1966</td>
        <td><a href="66-FM1-75.html">Apollo  spacecraft  computer  programs--or, a  bucket of worms</a></td>
        <td>7</td>
    </tr>
    <tr>
        <td>66-FM1-78</td>
        <td>Jul 1 1966</td>
        <td><a href="66-FM1-78.html">Another Apollo spacecraft computer program status report</a></td>
        <td>7</td>
    </tr>
    <tr>
        <td>66-FM1-83</td>
        <td>Jun 11 1966</td>
        <td>Apollo rendezvous guidance computer program options</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-84</td>
        <td>Jul 11 1966</td>
        <td>Capability to do orbit navigation in earth orbit will not be implemented for AS-207 or AS-504</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-85</td>
        <td>Jul 8 1966</td>
        <td>Determination of relative CSM orbit</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-86</td>
        <td>Jul 8 1966</td>
        <td>No special program available for targeting the CSM plane change in lunar orbit</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-89</td>
        <td>Jul 11 1966</td>
        <td>LEM radar angle bias correction</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-94</td>
        <td>Jul 18 1966</td>
        <td>Rendezvous terminal phase guidance program in the Apollo spacecraft computer</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-95</td>
        <td>Jul 21 1966</td>
        <td>AS-204 computer program status</td>
        <td>7</td>
    </tr>
    <tr>
        <td>66-FM1-100</td>
        <td>Aug 30 1966</td>
        <td>Notes regarding the AS-207/208 Guidance Systems Operations Plan (GSOP) meeting with MIT</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-103</td>
        <td>Aug 30 1966</td>
        <td>Automatic rendezvous braking maneuver</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-104</td>
        <td>Sep 2 1966</td>
        <td>Status of the lunar module "quick return" guidance capability</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-107</td>
        <td>Sep 19 1966</td>
        <td>Alternate rendezvous technique - mission planning status</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-108</td>
        <td>Sep 20 1966</td>
        <td>Spacecraft  computer  program  status  for  AS-5O1</td>
        <td>7</td>
    </tr>
    <tr>
        <td>66-FM1-109</td>
        <td>Sep 21 1966</td>
        <td>Mission rules needed for use with AGC self-check</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-110</td>
        <td>Sep 21 1966</td>
        <td>LGC computer requirements to provide DPS backup of SPS</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-111</td>
        <td>Sep 21 1966</td>
        <td>Rendezvous search modes of various types</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-112</td>
        <td>Sep 21 1966</td>
        <td>Apollo rendezvous navigation data edit is too complicated</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-113</td>
        <td>Sep 21 1966</td>
        <td>There are differences in the descent guidance programs on AS-503 and AS-504</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-114</td>
        <td>Sep 22 1966</td>
        <td>Apollo spacecraft guidance navigation modes currently planned for AS-$03 and AS-504</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-115</td>
        <td>Sep 27 1966</td>
        <td>LGC program development for the AS-278B</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-118</td>
        <td>Oct 4 1966</td>
        <td>No extra memory for the Apollo Spacecraft Computer</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-123</td>
        <td>Oct 11 1966</td>
        <td>Procedure for obtaining Apollo Spacecraft Computer Program schedule information</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-124</td>
        <td>Oct 11 1966</td>
        <td>Program Development Plans are coming!!</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-129</td>
        <td>Oct 12 1966</td>
        <td>Cursory definition of Spacecraft Computer Program capabilities currently planned for AS-503 and AS-504</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FMI-130</td>
        <td>Oct 12 1968</td>
        <td>Altitude and velocity limits imposed by the spacecraft computer program on the AS-503 mission</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-131</td>
        <td>Oct 10 1966</td>
        <td>More on Program Development</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-132</td>
        <td>Oct 14 1966</td>
        <td>LGC program requirements and mission constraints on alternate mission AS-278B</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-133</td>
        <td>Oct 14 1966</td>
        <td>AS-206 LGC program status</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-135</td>
        <td>Oct 17 1966</td>
        <td>Verification of LGC when powered-up in space</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-136</td>
        <td>Oct 17 1966</td>
        <td>Apollo Spacecraft Computer Program Schedule</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-137</td>
        <td>Oct 17 1966</td>
        <td>Another AGC program development report</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-141</td>
        <td>Nov 3 1966</td>
        <td>AGC program for AS-501/502 - Final status report</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-142</td>
        <td>Nov 1 1966</td>
        <td>In which some items of interest regarding the AS-206 LGC program status are discussed</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-148</td>
        <td>Nov 14 1966</td>
        <td>AGS program status for AS-278</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-151</td>
        <td>Nov 14 1966</td>
        <td>Ground rules for MIT man loading for AGC programming</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-168</td>
        <td>Nov 25 1966</td>
        <td>Small program change needed in the AS-501/502 AGC program</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-169</td>
        <td>Nov 28 1966</td>
        <td>LGC program status for AS-206</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-170</td>
        <td>Nov 28 1966</td>
        <td>More interesting things about our work with MIT</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-188</td>
        <td>Dec 22 1966</td>
        <td>DAP initialization simplification</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-189</td>
        <td>Dec 22 1966</td>
        <td>We've bit the bullet on GRR</td>
        <td>2</td>
    </tr>
    <tr>
        <td>66-FM1-191</td>
        <td>Dec 22 1966</td>
        <td>MIT's digital computers are saturated until the IBM 360 becomes operational</td>
        <td>2</td>
    </tr>
