<tr>
    <td>68-PA-T-1</td>
    <td>Jan 09 1968</td>
    <td>Lunar landing lighting constraint change</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-2A </td>
    <td>Jan 11 1968</td>
    <td>First 2 hours on the moon is a countdown to launch - simulated or real thing</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-3</td>
    <td>Jan 11 1968</td>
    <td>Odds and ends about lunar landmark tracking</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-5</td>
    <td>Jan 11 1968</td>
    <td>AGS/PNGCS incompatibility review - Chapter One</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-6A</td>
    <td>Jan 15 1968</td>
    <td>Some thoughts about Lunar Ascent procedures</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-7</td>
    <td>Jan 16 1968</td>
    <td>Crew familiarization and training for TLI</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-8</td>
    <td>Jan 16 1968</td>
    <td>AGS accelerometers may not work</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-9A</td>
    <td>Jan 16 1968</td>
    <td>Latest on TLI</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-10A</td>
    <td>Jan 16 1968</td>
    <td>LTA-8 lunar countdown tests not needed soon</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-11A</td>
    <td>Jan 16 1968</td>
    <td>External Delta V for LOI</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PM-T-12</td>
    <td>Jan 16 1968</td>
    <td>(unreadable)</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-13A</td>
    <td>Jan 17 1968</td>
    <td>No change needed in the landing site determination programs - CMC or RTCC</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-14A</td>
    <td>Jan 17 1968</td>
    <td>Reentry from lunar missions</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-15A</td>
    <td>Jan 22 1968</td>
    <td>"Final" review of Spacecraft 101 (Mission "C") Retrofire and Reentry Mission Techniques</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-16A</td>
    <td>Jan 24 1968</td>
    <td>Second Mission "C" Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-17A</td>
    <td>Jan 2? 1968</td>
    <td>Mission "D" Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-18</td>
    <td>Jan 29 1968</td>
    <td>LM-2 not expected to fly</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-19</td>
    <td>Feb 5 1968</td>
    <td>Sundisk W-matrix is a little weird</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-20</td>
    <td>Feb 5 1968</td>
    <td>Invitation to DPS throttling for DOI meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-21</td>
    <td>Feb 5 1968</td>
    <td>Average g</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-22A</td>
    <td>Feb 5 1968</td>
    <td>Can we plan nominally to burn APS to fuel depletion?</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-23</td>
    <td>Feb 7 1968</td>
    <td>Terminal phase transfer angle may be changed to 130°</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-24</td>
    <td>??</td>
    <td>Landmarks must be referenced to Irene's earth</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-25</td>
    <td>Feb 5 1968</td>
    <td>Sundisk range rate computation is not real accurate</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-26A</td>
    <td>Feb 6 1968</td>
    <td>Lunar Reentry Mission Techniques meeting</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-FM-T-27</td>
    <td>Feb 8 1968</td>
    <td>Some Sundisk idiosyncracies</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-28A</td>
    <td>Feb 5 1968</td>
    <td>Rendezvous radar will be available during critical mission phases</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-29A</td>
    <td>Feb 7 1968</td>
    <td>Third Mission "C" Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-30A</td>
    <td>Feb 8 1968</td>
    <td>Third "D" Mission Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-31</td>
    <td>Feb 7 1968</td>
    <td>Problem of S-band during lunar landmark tracking</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-32A</td>
    <td>Feb 16 1968</td>
    <td>Deletion of TLI steering by the spacecraft</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-33A</td>
    <td>Feb 18 1968</td>
    <td>Fourth Mission "D" Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-34A</td>
    <td>Feb 21 1968</td>
    <td>Landmarks for lunar tracking</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-35</td>
    <td>Feb 20 1968</td>
    <td>Landing radar reasonableness</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-36A</td>
    <td>Feb 20 1968</td>
    <td>Spacecraft computer programs controlling DPS throttling need some changes</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-37A</td>
    <td>Feb 21 1968</td>
    <td>TLI platform alignment</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-40A</td>
    <td>Feb 23 1968</td>
    <td>Lunar Mission Reentry Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-41A</td>
    <td>Feb 21 1968</td>
    <td>Fourth "C" Mission Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-42A</td>
    <td>Mar 1 1968</td>
    <td>Some things about the LM computer (??) program and how it should be changed</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-43A</td>
    <td>Feb 28 1968</td>
    <td>We will start Data Prioroty Mission Techniques meetings on the Mission "E" Rendezvous</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-45A</td>
    <td>Feb 29 1968</td>
    <td>Lunar Orbit Navigation and Targeting Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-46A</td>
    <td>Mar 1 1968</td>
    <td>Fifth "C" Mission Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-48A</td>
    <td>Mar 4 1968</td>
    <td>Ascent Phase Mission Techniques meeting - February 27, 1968</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-49A</td>
    <td>Mar 1 1968</td>
    <td>Fifth "D" Mission Rendezvous Mission Techniques meeting---don't miss Paragraph 5: It's great</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-51A</td>
    <td>Mar 3 1968</td>
    <td>Lunar Rendezvous Abort Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-53</td>
    <td>Mar 7 1968</td>
    <td>Apollo Spacecraft Software Configuration Control Board notes for March 4 meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-54A</td>
    <td>Mar 7 1968</td>
    <td>Sixth "C" Mission Rendezvous Mission Techniques meeting</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-55A</td>
    <td>Mar 7 1968</td>
    <td>First "E" Mission Rendezvous Mission Techniques meeting - March 4</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-56A</td>
    <td>Mar 7 1968</td>
    <td>GUidance system oriented ground rules for TLI Go/No Go</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-57A</td>
    <td>Mar 12 1968</td>
    <td>Sixth Midcourse Phase Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-59A</td>
    <td>Mar 13 1968</td>
    <td>Seventh "C" Mission Rendezvous Mission Techniques meeting</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-60A</td>
    <td>Mar 13 1968</td>
    <td>Lunar Reentry Mission Techniques meeting - March 7</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-??</td>
    <td>Mar 13 1968</td>
    <td>TRW performance evaluation for Task A-46</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-61A</td>
    <td>Mar 13 1968</td>
    <td>Seventh "D" Mission Rendezvous Mission Techniques meeting</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-63A</td>
    <td>Mar 18 1968</td>
    <td>Lunar rendezvous abort summary</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-FM-T-6?</td>
    <td>Apr 1 1968</td>
    <td>Apollo Spacecraft Software Configuration Control Board notes for the March 19 meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-67A</td>
    <td>Apr 2 1968</td>
    <td>Seventh "D" Mission Rendezvous Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-69A</td>
    <td>Mar 27 1968</td>
    <td>Eight and Ninth "C" Mission Rendezvous Mission Techniques meetings</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-70A</td>
    <td>Apr 1 1968</td>
    <td>Lunar Reentry Mission Techniques meeting - March 21</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-71A</td>
    <td>Apr 5 1968</td>
    <td>Mission "E" Rendezvous Data Priority meetings</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-71A</td>
    <td>Apr 4 1968</td>
    <td>Mission techniques for the LM lunar stay go/no go</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-72A</td>
    <td>Apr 8 1968</td>
    <td>Sextant Rendezvous Navigation Review</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-73A</td>
    <td>Apr 8 1968</td>
    <td>Some lunar mission earth orbit phase ground rules</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-FM-T-74</td>
    <td>Apr 8 1968</td>
    <td>Flyby solutions in the RTCC Midcourse program will not be absolutely optimum</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-75A</td>
    <td>Apr 10 1968</td>
    <td>"Any time" LM lift off is an unnecessary constraint</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-77A</td>
    <td>Apr 16 1968</td>
    <td>List of "D/E" Rendezvous open items</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-78A</td>
    <td>Apr 17 1968</td>
    <td>April 9 Lunar Reentry Mission Techniques meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-79A</td>
    <td>Apr 23 1968</td>
    <td>Rendezvous maneuver targeting for guidance system backup</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-FM-T-80</td>
    <td>Apr ?? 1968</td>
    <td>Results of the Apollo Spacecraft Software Configuration Control Board meeting of April 9</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-81A</td>
    <td>Apr 16 1968</td>
    <td>"C" Rendezvous Mission Techniques Review</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-82A</td>
    <td>Apr 17 1968</td>
    <td>Status evaluation meeting - "C" Mission Rendezvous</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-84A</td>
    <td>Apr 23 1968</td>
    <td>Descent Orbit Insertion (DOI) monitoring and short procedures are proposed</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-87</td>
    <td>Apr 26 1968</td>
    <td>Results of the Apollo Spacecraft Software Coniguration Control board meeting of April 13</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-88A</td>
    <td>Apr 26 1968</td>
    <td>Results of "C" Mission Rendezvous Review meeting - April 22, 1968</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-89</td>
    <td>Apr 30 1968</td>
    <td>CSM should have good rendezvous navigation in the lunar mission</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-91A</td>
    <td>Apr 30 1968</td>
    <td>PGNCS/AGS clock synchronization</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-95A</td>
    <td>May 6 1968</td>
    <td>PIPA Surprise</td>
    <td>2</td>
</tr>
<tr>
    <td>68-PA-T-97A</td>
    <td>May 6 1968</td>
    <td>LM3 AGS will use Kearfott accelerometers</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-99A</td>
    <td>May 10 1968</td>
    <td>"C" rendezvous open item clean up</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-100A</td>
    <td>May 10 1968</td>
    <td>No special visual reference will be provided for the final transearth midcourse correction maneuver</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-101A</td>
    <td>May 14 1968</td>
    <td>Aborts from powered descent on the Lunar landing mission</td>
    <td>1, 2</td>
</tr>
<tr>
    <td>68-PA-T-106A</td>
    <td>May 24 1968</td>
    <td>Spacecraft computer program newsletter</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-108A</td>
    <td>May 29 1968</td>
    <td>Spacecraft computer program - things dealing with lunar descent and aborts from it</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-110A</td>
    <td>May 29 1968</td>
    <td>Progress Report on Mission Techniques</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-111A</td>
    <td>Jun 3 1968</td>
    <td>Transearth midcourse correction philosophy - a major operational break through!</td>
    <td>1</td>
</tr>
<tr>
    <td>68-PA-T-112A</td>
    <td>Jun 3 1968</td>
    <td>VHF range shouldn't be limited by software</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-114A</td>
    <td>Jun 3 1968</td>
    <td>Lunar Rendezvous Mission Techniques</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-116A</td>
    <td>Jun 6 1968</td>
    <td>DPS Modeling</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-119A</td>
    <td>Jun 7 1968</td>
    <td>Some alternate ways of figuring out where the LM is on the moon will be available</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-FM-T-123</td>
    <td>Jun 12 1968</td>
    <td>Results of the June 11 Apollo Software Configuration Control Board (ASCCB) meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-124A</td>
    <td>Jun 12 1968</td>
    <td>"D" mission launch window is nice</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-125A</td>
    <td>Jun 14 1968</td>
    <td>Apollo Crew Safety Review - Action Item No. 12</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-126A</td>
    <td>Jun 18 1968</td>
    <td>Transearth midcourse maneuvers are getting easier and cheaper all the time</td>
    <td>1</td>
</tr>
<tr>
    <td>68-FM-T-129</td>
    <td>Jun 18 1968</td>
    <td>EMS will always be used on "C" if G&amp;N fails</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-130A</td>
    <td>Jun 18 1968</td>
    <td>Can some pre-DOI activity be moved to pre-LOI?</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-131A</td>
    <td>Jun 21 1968</td>
    <td>Let's add a plane change into the lunar rendezvous timeline</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-133A</td>
    <td>Jun 20 1968</td>
    <td>"D" Rendezvous Mission Techniques Task Assignments for MPAD</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-134A</td>
    <td>Jun 21 1968</td>
    <td>Request to check some IMU alignement equations</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-136A</td>
    <td>Jun 28 1968</td>
    <td>"D" Rendezvous Mission Techniques</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-137A</td>
    <td>Jun 25 1968</td>
    <td>"D" Rendezvous Mission Techniques Ground Rules, Working Agreements, and other things</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-138A</td>
    <td>Jun 25 1968</td>
    <td>"C" Rendezvous W-matrix</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-140A</td>
    <td>??</td>
    <td>DAP mass properties initialization and update requirements</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-142A</td>
    <td>Jun 28 1968</td>
    <td>Need to know some transearth midcourse correction (MCC) Δv costs</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-143A</td>
    <td>Jun 28 1968</td>
    <td>Relative orientation of the LM and CSM navigation bases</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-145A</td>
    <td>Jul 1 1968</td>
    <td>Checkout of CSM optics in earth orbit prior to TLI</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-147A</td>
    <td>Jul 2 1968</td>
    <td>Lunar rendezvous shaping up</td>
    <td>1</td>
</tr>
<tr>
    <td>68-PA-T-148A</td>
    <td>Jul 2 1968</td>
    <td>Throttle up time is fixed during the powered descent maneuver</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-151A</td>
    <td>Jul 16 1968</td>
    <td>Lunar Ascent preparation</td>
    <td>1, 2</td>
</tr>
<tr>
    <td>68-PA-T-153A</td>
    <td>Jul 9 1968</td>
    <td>Good news on "C" mission SPS burns</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-154A</td>
    <td>Jul 10 1968</td>
    <td>"C" Mission Clean Up</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-155A</td>
    <td>Jul 16 1968</td>
    <td>LM Descent abortability computation is proposed</td>
    <td>1, 2</td>
</tr>
<tr>
    <td>68-PA-T-156A</td>
    <td>Jul 17 1968</td>
    <td>Powered descent throttle logic correction</td>
    <td>1, 2</td>
</tr>
<tr>
    <td>68-FM-T-157</td>
    <td>Jul 17 1968</td>
    <td>Results of the July 9 Apollo Spacecraft Configuration Control Board (ASCCB) meeting</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-159A</td>
    <td>Jul 18 1968</td>
    <td>No 15 minute constraint for Lunar Ascent Guidance</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-160A</td>
    <td>Jul 18 1968</td>
    <td>The LM can handle big Descent plane changes but requires protection against APS abort fuel depletion</td>
    <td>1, 2</td>
</tr>
<tr>
    <td>68-PA-T-161A</td>
    <td>Jul 18 1968</td>
    <td>LM Ascent lift-off time can be determined by the crew</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-162A</td>
    <td>Jul 23 1968</td>
    <td>"C" Mission Retrofire and Reentry Mission Techniques meeting</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-163A</td>
    <td>Jul 23 1968</td>
    <td>Guidance and control action limits</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-167A</td>
    <td>Jul 24 1968</td>
    <td>July 19 "C" Rendezvous Mission Techniques meeting</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-168A</td>
    <td>Jul 25 1968</td>
    <td>"D" Rendezvous</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-169A</td>
    <td>Jul 26 1968</td>
    <td>July 9 and July 24 "G" Rendezvous Mission Techniques meetings</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-FM-T-170</td>
    <td>Jul 26 1968</td>
    <td>AGS program changes</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-171A</td>
    <td>Jul 26 1968</td>
    <td>Mission Techniques Documentation Schedule</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-172A</td>
    <td>Jul 26 1968</td>
    <td>"D" Rendezvous Mission Techniques meeting od July 22</td>
    <td>1</td>
</tr>
<tr>
    <td>68-PA-T-173A</td>
    <td>Jul 30 1968</td>
    <td>Pulse Torquing to Achieve IMU Realignments</td>
    <td>1, 2</td>
</tr>
<tr>
    <td>68-PA-T-175A</td>
    <td>Aug 1 1968</td>
    <td>LM propulsion of the LM/CSM configuration as an SPS backup technique</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-182A</td>
    <td>Aug 1 1968</td>
    <td>North-American Rockwell (NR) participation in Mission Techniques Activity</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-183A</td>
    <td>Aug 1 1968</td>
    <td>LM rendezvous radar is essential</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-185A</td>
    <td>Aug 5 1968</td>
    <td>Propulsion system to be used on the "D" Mission Rendezvous CSI Maneuver</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-186A</td>
    <td>Aug 5 1968</td>
    <td>Recommendation to retain the Two-Stage Lunar Orbit Insertion (LOI) Maneuver</td>
    <td>1</td>
</tr>
<tr>
    <td>68-PA-T-188A</td>
    <td>Aug 8 1968</td>
    <td>Correction to memorandum</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-189A</td>
    <td>Sep 4 1968</td>
    <td>Should LM RCS jet #10 be disabled for the "D" mission docked DPS burn?</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-195A</td>
    <td>Sep 12 1968</td>
    <td>G Rendezvous</td>
    <td>1, 2</td>
</tr>
<tr>
    <td>68-PA-T-197A</td>
    <td>Sep 12 1968</td>
    <td>D Rendezvous Mission Techniques Meeting - September 9, 1968</td>
    <td>1</td>
</tr>
<tr>
    <td>68-PA-T-200A</td>
    <td>Sep 20 1968</td>
    <td>C' Transearth Midcourse Correction (MCC) and Entry Mission Techniques</td>
    <td>4</td>
</tr>
<tr>
    <td>68-FM-T-201</td>
    <td>Sep 23 1968</td>
    <td>Results of September 17 Apollo Spacecraft Software Configuration Control Board (ASSCCB) meeting</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-202A</td>
    <td>Sep 23 1968</td>
    <td>G Rendezvous Mission Techniques</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-203A</td>
    <td>Sep 23 1968</td>
    <td>D Rendezvous Ground Rules and Working Agreements update</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-205A</td>
    <td>Sep 24 1968</td>
    <td>Mission Techniques Documentation Schedule</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-206A</td>
    <td>Sep 25 1968</td>
    <td>C' Communication Loss</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-207A</td>
    <td>Sep 25 1968</td>
    <td>Review of the Mission Techniques for Saturn V/Apollo Launch Phase Aborts</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-208A</td>
    <td>Sep 26 1968</td>
    <td>Unusual procedure required for LM Ascent from the moon</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-209A</td>
    <td>Sep 27 1968</td>
    <td>Requirement for pre-PDI IMU alignment has been deleted</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-209A</td>
    <td>Sep 27 1968</td>
    <td>C' Mission Techniques</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-210A</td>
    <td>Oct 2 1968</td>
    <td>C Mission Techniques - are they being used?</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-213A</td>
    <td>Oct 2 1968</td>
    <td>Lunar orbit revolution counter for C'</td>
    <td>2</td>
</tr>
<tr>
    <td>68-PA-T-215A</td>
    <td>Oct 7 1968</td>
    <td>Cis-lunar spacecraft navigation for C'</td>
    <td>2</td>
</tr>
<tr>
    <td>68-PA-T-218A</td>
    <td>Oct 10 1968</td>
    <td>D Rendezvous Mission Techniques</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-219A</td>
    <td>Oct 15 1968</td>
    <td>Lunar Rendezvous Mission Techniques</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-220A</td>
    <td>Oct 17 1968</td>
    <td>Transearth Spacecraft Navigation</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-222A</td>
    <td>Oct 16 1968</td>
    <td>C' maneuvers - SPS versus RCS crossover</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-224A</td>
    <td>Oct 16 1968</td>
    <td>C' Earth Orbit and TLI Mission Techniques Open Items</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-FM-T-225</td>
    <td>Oct 16 1968</td>
    <td>Results of the October 8 Apollo Spacecraft Software Configuration Control Board (ASSCCB) meeting</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-226A</td>
    <td>Oct 21 1968</td>
    <td>Descent Aborts</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-227A</td>
    <td>Oct 17 1968</td>
    <td>D Rendezvous Open Items, Action Items or whatever you call them</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-228A</td>
    <td>Oct 18 1968</td>
    <td>C' Contingency Procedures - Draft Review</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-229A</td>
    <td>Oct 22 1968</td>
    <td>C' Spacecraft Navigation Mission Techniques</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-234A</td>
    <td>Oct 25 1968</td>
    <td>C' Contingency Review</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-235A</td>
    <td>Oct 25 1968</td>
    <td>Some more C' Lunar Orbit Mission Techniques</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-236A</td>
    <td>Oct 25 1968</td>
    <td>CSI and CDH back into the AGS - maybe</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-237A</td>
    <td>Oct 25 1968</td>
    <td>X-axis or z-axis for LM TPI?</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-238A</td>
    <td>Oct 25 1968</td>
    <td>Descent Aborts - Part II</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-FM-T-240</td>
    <td>Nov 1 1968</td>
    <td>ALEXANDER'S Rent-A-Car, Inc.</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-241A</td>
    <td>Nov 4 1968</td>
    <td>When is the rendezvous radar designate routine (R29) needed?</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-242A</td>
    <td>Nov 5 1968</td>
    <td>C' earth parking orbit duration is a variable</td>
    <td>2, 4</td>
</tr>
<tr>
    <td>68-PA-T-247A</td>
    <td>Nov 7 1968</td>
    <td>C Prime Maneuver Monitoring Mission Techniques into cement</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-248A</td>
    <td>Nov 12 1968</td>
    <td>D Maneuver Monitoring Mission Techniques</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-249A</td>
    <td>Nov 14 1968</td>
    <td>C' Mission Techniques clean up - Translunar and Transearth</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-251A</td>
    <td>Nov 15 1968</td>
    <td>C' Lunar Orbit - Navigation adn Block Data</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-252A</td>
    <td>Nov 15 1968</td>
    <td>F Rendezvous Mission Techniques</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-253A</td>
    <td>Nov 15 1968</td>
    <td>No real time landing site data processing is planned on C Prime</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-254A</td>
    <td>Nov 20 1968</td>
    <td>C' Mission Techniques -- mostly Entry</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-255A</td>
    <td>Nov 20 1968</td>
    <td>Is MSFN ranging mandatory for C'?</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-256A</td>
    <td>Nov 21 1968</td>
    <td>C' entry initialization with no communication</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-257A</td>
    <td>Nov 25 1968</td>
    <td>LM DPS low level light fixing</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-258A</td>
    <td>Nov 25 1968</td>
    <td>Descent Aborts - Part III</td>
    <td>1, 2, 4</td>
</tr>
<tr>
    <td>68-PA-T-262A</td>
    <td>Nov 29 1968</td>
    <td>D Rendezvous Mission Techniques</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-263A</td>
    <td>Dec 2 1968</td>
    <td>Proposal to add something nice to the F mission</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-264A</td>
    <td>Dec 4 1968</td>
    <td>Some Mission D contingency plans</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-265A</td>
    <td>Dec 6 1968</td>
    <td>GDC required for TLI</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-266A</td>
    <td>Dec 6 1968</td>
    <td>C' Abort Maneuver Overburn Monitoring</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-270A</td>
    <td>Dec 9 1968</td>
    <td>F Mission Techniques - LM Checkout</td>
    <td>1, 4</td>
</tr>
<tr>
    <td>68-PA-T-271A</td>
    <td>Dec 13 1968</td>
    <td>D Rendezvous Mission Techniques</td>
    <td>1</td>
</tr>
<tr>
    <td>68-PA-T-272A</td>
    <td>Dec 16 1968</td>
    <td>Revision to the C' Lunar Orbit Activation Document</td>
    <td>4</td>
</tr>
<tr>
    <td>68-PA-T-274A</td>
    <td>Dec 13 1968</td>
    <td>APS and DPS operationdal constraints clarification is needed</td>
    <td>4</td>
</tr>
