<tr>
    <td>70-PA-T-2A</td>
    <td>Jan 5 1970</td>
    <td>A small change in CSM DOI confirmation procedures</td>
    <td>2</td>
</tr>
<tr>
    <td>70-PA-T-1A</td>
    <td>Jan 7 1970</td>
    <td>Important LM computer program change for Apollo 13 descent</td>
    <td>2</td>
</tr>
<tr>
    <td>70-PA-T-2A</td>
    <td>Jan 5 1970</td>
    <td>A small change in CSM DOI confirmation procedures</td>
    <td>6</td>
</tr>
<tr>
    <td>70-FM-T-4</td>
    <td>Jan 13 1970</td>
    <td>AAP Rendezvous Mission Techniques</td>
    <td>2</td>
</tr>
<tr>
    <td>70-FM-T-5</td>
    <td>Jan 13 1970</td>
    <td>AAP CSM Computer Program Requirements meeting</td>
    <td>2</td>
</tr>
<tr>
    <td>70-FM-T-6</td>
    <td>Jan 15 1970</td>
    <td>Cabbages and Kings</td>
    <td>6</td>
</tr>
<tr>
    <td>70-FM-T-7</td>
    <td>Jan 19 1970</td>
    <td>MSFC/MSC OWS Computer Program Meeting</td>
    <td>6</td>
</tr>
<tr>
    <td>70-PA-T-8A</td>
    <td>Jan 20 1970</td>
    <td>The Apollo rendezvous can be shortened by 2 hours</td>
    <td>2, 6</td>
</tr>
<tr>
    <td>70-PA-T-11A</td>
    <td>Feb 9 1970</td>
    <td>Mission H-2 and Subsequent Lunar Orbit Coordination</td>
    <td>6</td>
</tr>
<tr>
    <td>70-FA-T-12</td>
    <td>Feb 10 1970</td>
    <td>Status report on teh "P66" fix</td>
    <td>6</td>
</tr>
<tr>
    <td>70-FA-T-13</td>
    <td>Feb 12 1970</td>
    <td>Software for the AAP CSM spacecraft computer</td>
    <td>2, 6</td>
</tr>
<tr>
    <td>70-FA-T-16</td>
    <td>Feb 19 1970</td>
    <td>"For whom does the bell toll?" ... "Delta Guidance" ... "Oh!"</td>
    <td>2, 6</td>
</tr>
