---
layout: inner
---
<article class="tindallgram">
  <h2>{{ page.subject }}</h2>
  {% if page.tags %}
  <div class="topiclist">Topics: {% pagetags %}</div>
  {% endif %}
  <ul class="headings" aria-label="memo headings">
    <li class="date"><span class="label">Date:</span> {{ page.date}}</li>
    <li class="serial"><span class="label"> </span> {{ page.serial}}</li>
    <li class="from"><span class="label">From:</span> {{ page.from}}</li>
    <li class="subject"><span class="label">Subject:</span> {{ page.subject}}</li>
  </ul>

  {{ content }}
</article>

<div class="glossary in-page">
  <h2>Terms &amp; Abbreviations</h2>
  <p class="glossary-link">View <a href="/terms/a">Full Glossary</a></p>
  {% glossary %}
</div>
